@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Custom Styles */
body { font-family: 'Inter', sans-serif; background-color: #f8fafc; }

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #94a3b8; }

.pb-safe-bottom {
  padding-bottom: env(safe-area-inset-bottom, 20px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}